@import url(core.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  /* background-color: blue; */
}
/* header section */
.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo h2 {
  /* color: rgb(20, 187, 131); */
  color: var(--mainColor);
}
.header__search {
  flex: 0 1 20%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1.5px solid gray;
  padding: 5px;
}
.header__search > input {
  width: 100%;
  position: relative;
  height: 100%;
  background-color: transparent;
  border: transparent;
  user-select: none;
  text-decoration: none;
  outline: none;
}
.search__glass {
  font-size: 15px;
  color: gray;
}
.find-city {
  border: none;
  background: transparent;
}
.navigation_bar {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
}
.subheader__nav > * {
  padding: 10px 15px;
  font-size: 1vw;
  background: transparent;
  color: #fff;
  border: transparent;
}
.active_btn {
  border: 1px solid rgba(225, 225, 225, 0.3);
  border-bottom: 2px solid var(--mainColor);
}
.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.main__current_weather {
  height: 20vh;
  background-color: #fff;
  padding: 2em;
}
.current__weather_title {
  color: var(--mainColor);
  display: flex;
  justify-content: space-between;
}
.current__weather_body {
  height: 100%;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}
/* .current__weather_body > * {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
.current__weather__degrees h2 {
  font-size: 3vw;
  font-weight: 400;
}
.current__weather__timelapse > * {
  margin: 10px 0;
}
.hourly__weather {
  background-color: #fff;
  padding: 2em;
}
.hourly__weather__body {
  display: flex;
  padding: 3em 0;
}
.hourly__weather__indicator:first-child {
  margin-top: 8em;
}
.hour__forecast {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}
.hour__forecast:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.hourly__weather__hour {
  width: 20%;
  text-align: center;
}
.hourly__weather__inner li:nth-child(3) {
  margin-top: 6.8em;
}
.default_title {
  color: var(--mainColor);
}



